{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- mobile metas -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<!-- site metas -->
<title>Dicet Tv</title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="author" content=""> 
<!-- bootstrap css -->
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
<!-- style css -->
<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<!-- Responsive-->
<link rel="stylesheet" href="/static/css/responsive.css">
<!-- fevicon -->
<link rel="icon" href="/static/images/fevicon.png" type="image/gif" />
<!-- Scrollbar Custom CSS -->
<link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
<!-- Tweaks for older IEs-->
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
<!-- owl stylesheets --> 
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
    <!-- header section start -->
    <div class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="logo"><a href="index.html"><img src="/static/images/logo.png"></a></div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="Products.html">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact us</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">              
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">GET STARTED</button>
            </form>
            <div class="search_icon">
              <ul>
                <li><a href="#"><img src="/static/images/user-icon.png"></a></li>
                <li><a href="#"><img src="/static/images/bag-icon.png"></a></li>
                <li><a href="#"><img src="/static/images/search-icon.png"></a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    <!-- header section end -->
    <!-- banner section start -->
    <div class="banner_section layout_padding">
      <div class="container">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="your_text">Your Favorite</h1>
                  <h1 class="Shows_text">Shows And Movies</h1>
                  <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or</p>
                  <div class="start_bt"><a href="#">Start Now</a></div>
                  <div class="read_bt"><a href="#">Read More</a></div>
                </div>
                <div class="col-md-6">
                  <div class="images_1"><img src="/static/images/img-1.png"></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="your_text">Your Favorite</h1>
                  <h1 class="Shows_text">Shows And Movies</h1>
                  <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or</p>
                  <div class="start_bt"><a href="#">Start Now</a></div>
                  <div class="read_bt"><a href="#">Read More</a></div>
                </div>
                <div class="col-md-6">
                  <div class="images_1"><img src="/static/images/img-1.png"></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <h1 class="your_text">Your Favorite</h1>
                  <h1 class="Shows_text">Shows And Movies</h1>
                  <p class="there_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or</p>
                  <div class="start_bt"><a href="#">Start Now</a></div>
                  <div class="read_bt"><a href="#">Read More</a></div>
                </div>
                <div class="col-md-6">
                  <div class="images_1"><img src="/static/images/img-1.png"></div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa-arrow-left"><img src="/static/images/left-arrow.png"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa-angle-right"><img src="/static/images/right-arrow.png"></i>
          </a>
        </div>
          <div class="banner_section_2">
            <div class="row">
              <div class="col-lg-4 col-sm-12">
                <div class="box_main">
                  <div class="internet_icon"></div>
                  <h4 class="broadband_text">Broadband</h4>
                  <p class="many_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, m Ipsum, you need to be</p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="box_main active">
                  <div class="internet_icon1"></div>
                  <h4 class="broadband_text active">Broadband</h4>
                  <p class="many_text active">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, m Ipsum, you need to be</p>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="box_main">
                  <div class="internet_icon2"></div>
                  <h4 class="broadband_text">Broadband</h4>
                  <p class="many_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, m Ipsum, you need to be</p>
                </div>
              </div>
            </div>
          </div>
        
      </div>
    </div>
    <!-- banner section end -->
    </div>
    <!-- about section start -->
    <div class="about_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="image_2"><img src="images/img-2.png"></div>
          </div>
          <div class="col-md-6">
            <h1 class="live_text">Live Sport and TV-shows for best
            friends
            </h1>
            <p class="lorem_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
            <div class="online_bt_main">
              <div class="online_bt"><a href="#">4K Ultra HD Quality</a></div>
              <div class="online_bt1"><a href="#">200+ Online Channels</a></div>
              <div class="read_bt1"><a href="#">Read More</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about section end -->
    <!-- product section start -->
    <div class="product_section layout_padding">
      <div class="container">
        <h2 class="tariffs_text">Tariffs</h2>
        <h1 class="choose_text">Choose your plan</h1>
        <p class="lorem_text1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin bibendum, est ac faucibus hendrerit, mauris ante viverra urna, in elementum urna est ut ligula.</p>
        <div class="product_section2">
          <div class="row">
            <div class="col-lg-4 col-sm-12">
              <h2 class="easy_text">Easy Surfing</h2>
              <h1 class="internet_text">Internet</h1>
              <div class="month_main clearfix">
                <h1 class="dolor_text">$24.99</h1>
                <h2 class="month_text">Month</h2>
                <p class="long_text">It is a long established f
                act distracteontent </p>
              </div>
              <div class="seemore_main">
                <div class="see_more"><a href="#">SEE MORE</a></div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <h2 class="easy_text">Impression</h2>
              <h1 class="internet_text">Tv</h1>
              <div class="month_main clearfix">
                <h1 class="dolor_text">$24.99</h1>
                <h2 class="month_text">Month</h2>
                <p class="long_text">It is a long established f
                act distracteontent </p>
              </div>
              <div class="seemore_main">
                <div class="see_more"><a href="#">SEE MORE</a></div>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <h2 class="easy_text">Premium Plan</h2>
              <h1 class="internet_text">Internet + TV + Phone</h1>
              <div class="month_main clearfix">
                <h1 class="dolor_text">$24.99</h1>
                <h2 class="month_text">Month</h2>
                <p class="long_text">It is a long established f
                act distracteontent </p>
              </div>
              <div class="seemore_main">
                <div class="see_more"><a href="#">SEE MORE</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- product section end -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
      <div class="container">
        <h1 class="check_text">Check ability to connect our services in your area</h1>
        <div class="contact_section2">
          <div class="addres_main">
            <div class="input_bg">
              <h3 class="fact_text">It is a long established fact that a reader will be distracted</h3>
              <input type="text" class="address_text" placeholder="Enter your address" name="text">
              <button type="button" class="get_bt">GET STARTED</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact section end -->
    <!-- client section start -->
    <div class="client_section layout_padding">
      <div class="container">
        <h1 class="client_taital">What our clients say</h1>
        <div class="client_section2 layout_padding">
          <div class="row">
            <div class="col-sm-4">
              <div class="client_image"><img src="/static/images/img-3.png"></div>
            </div>
            <div class="col-sm-8">
              <div class="miller_text">Miller<span class="quote_icon"><img src="/static/images/quote-icon.png"></span></div>
              <p class="ipsum_text">ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id e</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- client section end -->
    <!-- subscribe section start -->
    <div class="subscribe_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h1 class="subscribe_text">Subscribe Now</h1>
          </div>
          <div class="col-sm-8">
            <div class="mail_main">
              <input type="text" class="address_text1" placeholder="Enter your address" name="text">
              <button type="button" class="get_bt1">GET STARTED</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  clsubscribe section end -->
    <!-- footer section start -->
    <div class="footer_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="fooer_logo"><img src="/static/images/footer-logo.png"></div>
            <h1 class="customer_text">CUSTOMER SERVICE</h1>
            <p class="footer_lorem_text">There are many variat
ions of passages of L
orem Ipsum available
, but the majority h
ave suffered altera
tion in some form, by </p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h1 class="customer_text">LET US HELP YOU</h1>
            <p class="footer_lorem_text">There are many variat
ions of passages of L
orem Ipsum available
, but the majority h
ave suffered altera
tion in some form, by </p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h1 class="customer_text">INFORMATION</h1>
            <p class="footer_lorem_text1">About Us<br>
Careers<br>
Sell on shopee<br>
Press & News<br>
Competitions<br>
Terms & Conditions</p>
          </div>
          <div class="col-lg-3 col-sm-6">
            <h1 class="customer_text">OUR SHOP</h1>
            <p class="footer_lorem_text">There are many variat
ions of passages of L
orem Ipsum available
, but the majority h
ave suffered altera
tion in some form, by </p>
          <div class="social_icon">
            <ul>
              <li><a href="#"><img src="/static/images/fb-icon.png"></a></li>
              <li><a href="#"><img src="/static/images/twitter-icon.png"></a></li>
              <li><a href="#"><img src="/static/images/instagram-icon.png"></a></li>
              <li><a href="#"><img src="/static/images/linkedin-icon.png"></a></li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
    <!--  footer section end -->
    <!-- copyright section start -->
    <div class="copyright_section">
      <div class="container">
        <div class="border"></div>
        <p class="copyright_text">2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
      </div>
    </div>
    <!-- copyright section end -->
    <!-- Javascript files-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/plugin.js"></script>
    <!-- sidebar -->
    <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/static/js/custom.js"></script>
    <!-- javascript --> 
    <script src="/static/js/owl.carousel.js"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>    
</body>
</html>